<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <a href="/add" class="btn btn-primary">添加</a>
    <table class="table table-bordered">
      <tr>
        <th>名字</th>
        <th>年龄</th>
        <th>性别</th>
        <th>操作</th>
      </tr>
      <% for(var i = 0; i < students.length; i++) {%>
      <tr>
        <td><%= students[i].name %></td>
        <td><%= students[i].age %></td>
        <td><%= students[i].sex %></td>
        <td>
          <a href="/edit/<%= students[i].sid %>" class="btn btn-primary">修改</a>
          <a href="/delete/<%= students[i].sid %>" class="btn btn-danger">删除</a>
        </td>
      </tr>
      <% } %>
    </table>
  </div>
</body>
</html>